.contact {
    position:relative;
    width: 100%;
    background: #1d1d1d;
    padding: 170px 10px 87.2px 10px;
    overflow:hidden;
    &> h2 {
        text-align: center;
        color: #08fdd8;
        font-size: 2rem;
        opacity:0;
    }
    &> p {
        text-align: center;
        padding: 20px 0px 40px 0px;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        color: #8d8d8d;
        transition: 0.5s;
        transform: translateX(-100%);
    }
    &__submit {
        position: relative;
        margin-left: auto;
        width:100%;
        max-width:200px;
        overflow: hidden;
        cursor:pointer;
        &:hover > span {
            left:0%;
        }
        & input[type=submit] {
            position:relative;
            height:45px;
            width:100%;
            color: #08fdd8;
            background: none;
            border:1px solid #08fdd8;
            outline:0;
            letter-spacing: 2px;
            transition: 0.3s;
            cursor:pointer;
            font-size:0.85rem;
            font-weight: 500;
            &:hover {
                color: #1d1d1d;
            }
        }
        &>span {
            position: absolute;
            left:-100%;
            top:0;
            width: 100%;
            height:100%;
            background: #08fdd8;
            transition: 0.5s;
        }
    }
    &__form {
        display:flex;
        flex-direction: column;
        width:100%;
        max-width:600px;
        margin: 0 auto;
        opacity:0;
        & > div {
            display:flex;
        }
        & input,& textarea {
            font-family: 'Montserrat';
            background: #2b2b2b;
            font-size:0.9rem;
            color: #8d8d8d;
            letter-spacing: 0.5px;
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
                -webkit-text-fill-color:#8d8d8d;
            }
            &::placeholder {
                color: #8d8d8d;
            }
        }
        & input[type=text] {
            width:100%;
            height: 100%;
            border:0;
            outline:0;
            padding: 0px 20px;
        }
        & input[type=email] {
            width:100%;
            height: 100%;
            border:0;
            outline:0;
            padding: 0px 20px;
        }
        & textarea {
            height: 100%;
            width:100%;
            min-width: 100%;
            min-height: 160px;
            border:0;
            outline:0;
            padding: 20px;
            margin-bottom: 6px;
        }
    }
}

.form {
    &__text, &__email, &__textarea {
        position:relative;
        overflow: hidden;
        & span {
            position: absolute;
            left: -100%;
            bottom: 0;
            width: 100%;
            height: 0.5px;
            background: #4238ff;
            transition: 0.5s;
        }
    }
    &__text, &__email {
        height:50px;
        width:50%;
        & input:focus + span {
            left:0;
        }
    }
    &__email {
        margin-left: 20px;
    }
    &__textarea {
        display:flex;
        width:100%;
        margin: 20px 0px 30px 0px;
        & textarea:focus + span {
            left:0;
        }
    }
    @media (max-width: 500px) {
        &>div {
            flex-direction: column;
        } 
        &__text {
            width: 100%;
        }
        &__email {
            width: 100%;
            margin: 20px 0px 0px 0px;
        }
    }
}
.custom-shape-divider-top-1635247080 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635247080 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87.2px;
}

.custom-shape-divider-top-1635247080 .shape-fill {
    fill: black;
}

.incorrect {
    background: red !important;
    left: 0% !important;
}

.info {
    &__span {
        position:fixed;
        right:0px;
        bottom:20px;
        display:flex;
        padding: 7px 30px 7px 20px;
        background: #fa4166;
        color:white;
        font-size: 0.8rem;
        animation: spanInfo .7s both;
        border-top-left-radius: 20px;
        text-align: center;
        z-index:11;
        @media (max-width: 500px) {
            animation: none;
        }
    }
    &__send {
        position:fixed;
        right:20px;
        bottom:20px;
        display:flex;
        padding: 7px 20px 7px 20px;
        background: #4eb03f;
        max-width: 210px;
        color:white;
        font-size: 0.8rem;
        animation: spanSend .7s both;
        text-align:center;
        z-index:11;
        @media (max-width: 500px) {
            animation: none;
        }
    }
}

@keyframes spanInfo {
    50% {
       right: 50px;
    }
    100% {
        right: 0px;
    }
}

@keyframes spanSend {
    50% {
        right: 50px;
    }
    100% {
        right: 20px;
    }
}

@keyframes animationShowFromLeft {
    0% {
        opacity: 0;
        transform: translate(-300px, -400px) scale(20);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
        opacity:1;
    }
}

@keyframes animationShowFromRight {
    0% {
        opacity:1;
        transform: translate(300px, -400px);
    }
    100% {
        opacity:1;
        transform: translate(0px, 0px);
    }
}

.animationFromLeft {
    animation: animationShowFromLeft 1s both;
}

.animationFromRight {
    animation: animationShowFromRight 1s both;
}